  body{
   margin: 0 20px;
   text-align: center;
  }
  h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    display: block;
    font-size: 5.625rem;
    margin-bottom: 0;
  }
  h2{
    margin: 0,auto;
    font-family: 'Montserrat', sans-serif;
  }
  h3{
    font-family: 'Merriweather', serif;
    margin: 0,auto;
  }
  p{
    display: block;
    font-family: 'Merriweather', serif;
    margin: 0,auto;
    font-size: 2rem;
  }
  a{
    font-size: 1.75rem;
  }
  a:hover{
    color: red;
  }
 .top-container{
   background-color: #81f5ff;
   padding-top: 40px;
   margin-bottom: 40px;
 }
 .cloud-top{
   position: absolute;
   right: 25%;
 }
 .cloud-bottom{
   display: block;
   position: absolute;;
   left: 25%;
 }
 .intro{
   display: inline-block;
   position: absolute;;
   top: 100px;
   left: 40%;
 }
